@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer base {

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #root {
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    body {
        background: #0e1510;
        font-family: 'Be Vietnam Pro', 'Segoe UI', 'Arial', sans-serif;
    }
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}